<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Messenger.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Messenger.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container d-flex pt-5">
        <div class="shadow-sm bg-body-tertiary rounded widget" style="min-height: 600px; width: 300px">
            <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1"><a class="btn">Диалоги</a></label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio2"><a class="btn" href="~/Home">Друзья</a></label>
            </div>
            @await RenderSectionAsync("Navbar", required: true)
        </div>
        <main role="main" class="ms-5">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2023 - Messenger.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
